.body {
  background-image: url(../../assets/whywe.png);
  background-repeat: no-repeat;
  background-position: top left;
  padding: 1rem 1rem 3rem 8rem;
  margin-top: 1rem;
}

.body__wrap {
  display: flex;
  justify-content: space-between;
  margin-top: 5rem;
}

.body h1 {
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;

  color: var(--main-color-dark-gray);
}

.mapDiv__wrap,
.mapDiv{
  display: flex;
  align-items: center;
}

.mapDiv__wrap {
  justify-content: space-between;
  flex-wrap: wrap;
  width: 60%;
}

.mapDiv {
  width: 48%;
  margin-bottom: 50px;
  margin-right: 0;
  box-sizing: border-box;
}

.mapDiv p {
  margin: 0;
  font-weight: 300;
  font-size: 18px;
  line-height: 25px;

  color: var(--main-color-dark-gray);
}

.mapDiv h2 {
  font-size: 40px;
  margin: 0;
}

.mapDiv h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;

  color: var(--main-color-dark-gray);
  margin: 0 0 0.5rem 0;
}

.mapDiv div {
  margin-left: 1rem;
}

@media screen and (max-width: 1000.9px) {
  .mapDiv {
    width: 80%;
    margin: 0px auto 30px !important;
  }

  .mapDiv__wrap {
    justify-content: center;
    margin-top: 3rem;
    width: 100%;
  }
  .body__wrap {
    flex-direction: column;
    margin-top: 2rem;
    align-items: center;
  }

  .body h1 {
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 0;
    text-align: center;
  }
  .body {
    padding: 0 0 2rem 0;
    width: 80%;
    margin: 0 auto;
  }

  .body img {
    width: 80%;
  }
}

@media (min-width: 1001px) and (max-width: 1400.9px) {
  .mapDiv {
    text-align: left;
    margin-right: 0px;
  }

  .mapDiv p {
    font-size: 12px;
    line-height: 18px;
  }

  .mapDiv h2 {
    font-size: 30px;
  }

  .body__wrap{
    flex-direction: column;
    align-items: center;
  }

  .mapDiv__wrap {
    width: 100%;
  }
  .mapDiv{
    width: 23%;
    margin-top: 2rem;
  }
  .mapDiv h3{
    font-size: 16px;
    line-height: 20px;
  }
  .body img{
    object-fit: contain;
    width: 50%;
  }
  .body{
    padding: 4rem;
  }
  .body h1{
    margin: 0;
  }
}
