.body {
  background-image: url(../../assets/locationTitle.webp);
  background-repeat: no-repeat;
  background-position: top right;
  margin: 4rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.body__1 {
  width: 40%;
  margin: 5rem;
}
.body__1 h1 {
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  color: var(--main-color-dark-gray);
}
.body__1 p {
  font-weight: 300;
  font-size: 20px;
  line-height: 110%;
  color: var(--main-color-dark-gray);
}
.dotted{
  background-image: radial-gradient(#730220 2px, transparent 0);
  background-size: 12px 12px;
  height: 100px;
}
@media screen and (max-width: 1000.9px) {
  .dotted{
    display: none;
  }
  .body {
    flex-direction: column;
    margin: 0;
    background-image: none;
    text-align: center;
  }
  .body__1 {
    margin: 2rem;
    width: 80%;
    margin: 0 auto;
  }
  .body__1 h1 {
    font-size: 30px;
    margin: 1rem 0 0;
  }
  .body__1 p {
    font-size: 14px;
    line-height: 25px;
    margin: 0;
  }
  .body img {
    width: 80%;
    margin: 2rem 0;
  }
}
@media (min-width: 751px) and (max-width: 1000.9px) {
  .body img {
    width: 400px;
  }
}
@media (min-width: 1001px) and (max-width: 1400.9px) {
  .body__1 {
    width: 60%;
    margin: 3rem;
  }
  .body img {
    width: 90%;
  }
  .body__1 p {
    font-size: 16px;
  }
}
