.myNavbar {
  height: 93vh;
  background-color: aqua;
  background-image: url(../../assets/background.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 8rem;
}

.links {
  width: 70%;
}

.links_list__wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: right;
}

.links_list__wrapper .list {
  margin-left: 50px;
  font-weight: 400;
  font-size: 16px;
}

.links_list__wrapper__firstLine {
  width: 100%;
  display: flex;
  justify-content: right;
  align-items: center;
  font-size: 26px;
  margin-bottom: 2rem;
}

.links_list__wrapper__firstLine div {
  margin-left: 3rem;
  border: 1px solid #dba069;
  padding: 10px 20px;
  font-size: 20px;
}

@media screen and (max-width: 1024px) {
  .container {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    display: flex;
    margin: 30px 80px 30px 80px;
    justify-content: space-between;
    align-items: center;
  }
}

.container {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  color: white;
}

.container .logo {
  font-size: 1.8rem;
  z-index: 9;
}

.container .links {
  display: flex;
  gap: 60px;
  list-style: none;
  justify-content: center;
  align-items: center;
}

.container .links a {
  color: white;
  text-decoration: none;
  cursor: pointer;
  font-weight: 400;
}

.container li {
  overflow: hidden;
  transition: 0.5s cubic-bezier(0.97, 0.02, 0.44, 0.99);
}

.home_underline {
  transform: translateX(-130px);
  width: auto;
  height: 4px;
  background-color: #dba069;
  transition: 0.5s cubic-bezier(0.97, 0.02, 0.44, 0.99);
}

.list:hover > .home_underline {
  transform: translatex(0px);
}

.btn {
  border: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  color: white;
  background-color: blueviolet;
  border-radius: 100px;
  padding: 10px 30px 10px 30px;
  transform-origin: center;
  position: relative;
  overflow: hidden;
}

.btn::before {
  content: " ";
  position: absolute;
  top: 0px;
  width: 40px;
  height: 40px;
  transform: skewX(40deg) translateX(-90px);
  background-color: rgba(255, 255, 255, 0.411);
  z-index: 99;
  transition: 0.8s cubic-bezier(0.97, 0.02, 0.44, 0.99);
}

.btn:hover::before {
  transform: skewX(40deg) translateX(100px);
  animation: btnshine 1s cubic-bezier(0.97, 0.02, 0.44, 0.99) infinite;
}
@keyframes btnshine {
  from {
    transform: skewX(40deg) translateX(-90px);
  }
  to {
    transform: skewX(40deg) translateX(100px);
  }
}

#nav_toggle {
  position: absolute;
  display: none;
}

.container .icon_burger {
  position: absolute;
  right: 5%;
  display: none;
}

.container .icon_burger .line {
  width: 30px;
  height: 4px;
  background-color: white;
  margin: 5px;
  border-radius: 5px;
}

.backgroundText {
  padding: 30vh 8rem 0;
  display: flex;
  justify-content: space-between;
}

.backgroundText__1 {
  width: 70%;
}

.backgroundText__2 {
  width: 25%;
  font-family: "Fira Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;

  color: #ffffff;
}

.backgroundText h1 {
  font-family: "Fira Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 140%;

  color: #ffffff;
  margin: 0;
}

.backgroundText button {
  font-family: "Fira Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 140%;
  color: #333333;
  background: #dba069;
  padding: 20px 30px;
  border: none;
  outline: none;
  cursor: pointer;
  margin-top: 25px;
}

.backgroundText h2 {
  font-family: "Fira Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 38px;

  color: #ffffff;
  margin: 40px 0 0;
}

.backgroundText h3 {
  font-family: "Fira Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 120px;
  line-height: 83.7%;
  color: #ffffff;
  margin: 0;
}

.backgroundText .backgroundText__endText {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

.backgroundText__endText p {
  width: 120px;
  font-family: "Fira Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;

  color: #ffffff;
  margin: 0.5rem;
}

.backgroundText__endText .backgroundText__endText__1 {
  margin-right: 2rem;
}

@media screen and (max-width: 768px) {
  .myNavbar {
    height: 70vh;
  }
  .container .logo {
    z-index: 99;
  }
  .container {
    margin: 0px 0px 30px 0px;
    padding: 0;
  }
  .links_list__wrapper__firstLine {
    display: none;
  }
  .links_list__wrapper {
    justify-content: center;
    flex-direction: column;
  }
  .container .links {
    float: none;
    position: fixed;
    top: 0;
    left: 100%;
    right: 0;
    bottom: 0;
    z-index: 9;
    width: auto;
    height: auto;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 0px 0px 60px;
    background-color: rgba(0, 0, 0, 0.568);
    backdrop-filter: blur(20px);
    overflow: hidden;
    transition: 0.5s cubic-bezier(0.97, 0.02, 0.44, 0.99);
  }
  .home_underline {
    display: none;
  }
  .btn {
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    color: white;
    background-color: blueviolet;
    border-radius: 100px;
    padding: 10px 40px 10px 40px;
  }

  .links_list__wrapper .list {
    text-align: center;
    padding: 0.5rem;
  }

  .container .links a {
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: 2rem;
    color: white;
    font-weight: 600;
  }
  .container .icon_burger {
    z-index: 9;
    display: block;
    caret-color: transparent;
  }
  .container :checked ~ .links {
    left: 0;
    margin: 0;
    padding: 0;
  }
  .container .icon_burger .line {
    transition: 0.3s cubic-bezier(0.97, 0.02, 0.44, 0.99);
  }
  .container :checked ~ .icon_burger .line:nth-child(1) {
    transform: translateY(9px) rotate(50deg);
  }
  .container :checked ~ .icon_burger .line:nth-child(2) {
    transform: translateX(10px);
    opacity: 0;
  }
  .container :checked ~ .icon_burger .line:nth-child(3) {
    transform: translateY(-9px) rotate(-50deg);
  }

  .backgroundText {
    padding: 25vh 0 0 0;
    flex-direction: column;
  }

  .backgroundText__1,
  .backgroundText__2 {
    width: 80%;
    margin: 0 auto;
    text-align: center;
  }

  .backgroundText h1 {
    font-size: 20px;
    text-align: center;
  }

  .backgroundText button {
    margin: 10px auto 0;
    padding: 15px 25px;
    font-size: 14px;
  }

  .backgroundText h2 {
    font-size: 18px;
    margin-top: 2rem;
  }

  .backgroundText h3 {
    font-size: 84px;
  }
  .backgroundText__endText p {
    font-size: 14px;
  }
  .backgroundText__2 {
    display: none;
  }
  .backgroundText .backgroundText__endText{
    justify-content: center;
  }
}
