.myNavbar {
  height: 93vh;
  background-image: url(../../assets/header.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 8rem;
  margin-bottom: 3rem;
}
.links_left {
  margin-right: 2rem;
}
.links_left p {
  color: #a8acb1;
  font-size: 14px;
  font-family: 'Roboto', Arial, sans-serif;
  line-height: 1.55;
  font-weight: 400;
  opacity: 0.6;
}
.links_left p,
.links_left h6 {
  padding: 0;
  margin: 0;
}

.links_left h6 {
  color: #5ad946;
  font-size: 14px;
  font-family: 'Roboto', Arial, sans-serif;
  line-height: 1.55;
  font-weight: 400;
  display: flex;
}
.links_left h6 div {
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.links_left h6 strong {
  height: 10px;
  font-size: 12px;
  padding: 0 5px;
  background-color: #5ad946;
  border-radius: 50%;
  animation: anim 0.9s linear infinite;
}

.links_left a {
  color: #ffffff;
  font-size: 18px;
  font-family: 'Arial', Arial, sans-serif;
  line-height: 1.55;
  font-weight: 500;
}

@keyframes anim {
  0% {
    opacity: 1;
    transform: translateX(0px) translateY(0px) rotate(0deg) scale(1, 1);
    animation-timing-function: linear;
  }
  33.33% {
    opacity: 1;
    transform: translateX(0px) translateY(0px) rotate(0deg) scale(1.25, 1.25);
    animation-timing-function: linear;
  }
  66.66% {
    opacity: 1;
    transform: translateX(0px) translateY(0px) rotate(0deg) scale(0.85, 0.85);
    animation-timing-function: linear;
  }
  100% {
    opacity: 1;
    transform: translateX(0px) translateY(0px) rotate(0deg) scale(1, 1);
  }
}

.links {
  width: 70%;
}
.links_list__wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: right;
}
.links_list__wrapper .list {
  margin-left: 40px;
  font-weight: 400;
  font-size: 16px;
}
.links_list__wrapper__firstLine {
  width: 100%;
  display: flex;
  justify-content: right;
  align-items: center;
  font-size: 26px;
  margin-bottom: 2rem;
}
.links_list__wrapper__firstLine .links_last {
  cursor: pointer;
  margin-left: 3rem;
  padding: 13px 40px;
  font-size: 18px;
  font-weight: 400;
  border: 2px solid #ffffff;
  color: #ffffff;
  border-radius: 5px;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out,
    border-color 0.2s ease-in-out;
}

.links_list__wrapper__firstLine .links_last:hover {
  border-color: #5ad946;
  color: #5ad946;
}

@media screen and (max-width: 1100.9px) {
  .last_block__inp .dataMap_btn__4dprM {
    width: 100% !important;
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 1024px) {
  .container {
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    margin: 30px 80px;
    justify-content: space-between;
    align-items: center;
  }
}
.container {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  color: #fff;
}
.container .logo {
  font-size: 1.8rem;
  z-index: 9;
}
.container .links {
  display: flex;
  gap: 60px;
  list-style: none;
  justify-content: center;
  align-items: center;
}
.container .links a {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  font-weight: 400;
}
.container li {
  overflow: hidden;
  transition: 0.5s cubic-bezier(0.97, 0.02, 0.44, 0.99);
}
.home_underline {
  transform: translateX(-130px);
  width: auto;
  height: 4px;
  background-color: #5ad946;
  transition: 0.5s cubic-bezier(0.97, 0.02, 0.44, 0.99);
}
.list:hover > .home_underline {
  transform: translatex(0px);
}
.btn {
  border: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  color: #fff;
  background-color: #8a2be2;
  border-radius: 100px;
  padding: 10px 30px;
  transform-origin: center;
  position: relative;
  overflow: hidden;
}
.btn::before {
  content: ' ';
  position: absolute;
  top: 0;
  width: 40px;
  height: 40px;
  transform: skewX(40deg) translateX(-90px);
  background-color: rgba(255, 255, 255, 0.411);
  z-index: 99;
  transition: 0.8s cubic-bezier(0.97, 0.02, 0.44, 0.99);
}
.btn:hover::before {
  transform: skewX(40deg) translateX(100px);
  animation: btnshine 1s cubic-bezier(0.97, 0.02, 0.44, 0.99) infinite;
}
@keyframes btnshine {
  from {
    transform: skewX(40deg) translateX(-90px);
  }
  to {
    transform: skewX(40deg) translateX(100px);
  }
}
#nav_toggle {
  position: absolute;
  display: none;
}
.container .icon_burger {
  position: absolute;
  right: 5%;
  display: none;
}
.container .icon_burger .line {
  width: 30px;
  height: 4px;
  background-color: #fff;
  margin: 5px;
  border-radius: 5px;
}
.backgroundText {
  padding: 12vh 8rem 0;
  display: flex;
  justify-content: space-between;
}
.backgroundText__1 {
  width: 70%;
}
.backgroundText__2 {
  width: 25%;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #fff;
}
.backgroundText h1 {
  font-weight: 700;
  font-size: 51px;
  line-height: 140%;
  color: #fff;
  margin: 0;
}

.backgroundText h2 {
  font-weight: 400;
  font-size: 23px;
  line-height: 30px;
  color: #fff;
  margin: 0;
}
.backgroundText h3 {
  font-weight: 400;
  font-size: 19px;
  line-height: 83.7%;
  color: #fff;
  margin: 0;
}
.backgroundText .backgroundText__endText {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}
.backgroundText__endText p {
  width: 120px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;
  color: #fff;
  margin: 0.5rem;
}
.backgroundText__endText .backgroundText__endText__1 {
  margin-right: 2rem;
}
.last_block {
  width: 85%;
  margin: 80px auto 5rem;
  background-color: #fff;
  border-radius: 10px;
  padding: 50px 70px;
  box-sizing: border-box;
  box-shadow: 0px 10px 27px 0px rgb(9 20 49 / 10%);
  z-index: 10;
}
.last_block__title p {
  color: #102f4b;
  font-size: 20px;
  font-family: 'Roboto', Arial, sans-serif;
  line-height: 1.35;
  font-weight: 400;
  opacity: 0.7;
}
.last_block__title {
  display: flex;
}
.last_block__title h1 {
  margin: 0;
  color: #102f4b;
  font-size: 25px;
  font-family: 'Montserrat', Arial, sans-serif;
  line-height: 0.95;
  font-weight: 700;
}
.last_block__title img {
  width: 485px;
  margin-top: -150px;
}
.last_block__inp {
  display: flex;
  justify-content: space-between;
}
.last_block__inp div {
  width: 30%;
  display: flex;
  align-items: center;
}
.last_block__inp .ant-space-item {
  width: 100%;
}
.last_block__inp .dataMap_btn__4dprM {
  width: 45%;
  float: left;
}

@media (min-width: 1001px) and (max-width: 1300.9px) {
  .last_block {
    width: 90%;
  }
  .last_block__title img {
    margin-top: -150px;
  }
}

@media screen and (max-width: 1000.9px) {
  .container .links.left {
    left: 100% !important;
  }
  .myNavbar {
    height: auto;
    padding-bottom: 1rem;
  }
  .container .logo {
    z-index: 99;
  }
  .container {
    margin: 0 0 30px;
    padding: 0;
  }
  .links_list__wrapper__firstLine {
    display: none;
  }
  .links_list__wrapper {
    justify-content: center;
    flex-direction: column;
    -ms-flex-direction: column;
  }
  .container .links {
    float: none;
    position: fixed;
    top: 0;
    left: 100%;
    right: 0;
    bottom: 0;
    z-index: 9;
    width: auto;
    height: auto;
    flex-direction: column;
    -ms-flex-direction: column;
    align-items: flex-start;
    padding: 0 0 0 60px;
    background-color: rgba(0, 0, 0, 0.568);
    backdrop-filter: blur(20px);
    overflow: hidden;
    transition: 0.5s cubic-bezier(0.97, 0.02, 0.44, 0.99);
  }
  .home_underline {
    display: none;
  }
  .btn {
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    color: #fff;
    background-color: #8a2be2;
    border-radius: 100px;
    padding: 10px 40px;
  }
  .links_list__wrapper .list {
    text-align: center;
    padding: 0.5rem;
    margin: 0;
  }
  .container .links a {
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: 25px;
    color: #fff;
    font-weight: 600;
  }
  .container .icon_burger {
    cursor: pointer;
    z-index: 9;
    display: block;
    caret-color: transparent;
  }
  .container :checked ~ .links {
    left: 0;
    margin: 0;
    padding: 0;
  }
  .container .icon_burger .line {
    transition: 0.3s cubic-bezier(0.97, 0.02, 0.44, 0.99);
  }
  .container :checked ~ .icon_burger .line:nth-child(1) {
    transform: translateY(9px) rotate(50deg);
  }
  .container :checked ~ .icon_burger .line:nth-child(2) {
    transform: translateX(10px);
    opacity: 0;
  }
  .container :checked ~ .icon_burger .line:nth-child(3) {
    transform: translateY(-9px) rotate(-50deg);
  }
  .backgroundText {
    padding: 2vh 0 0;
    flex-direction: column;
    -ms-flex-direction: column;
  }
  .backgroundText__1,
  .backgroundText__2 {
    width: 80%;
    margin: 0 auto;
    text-align: center;
  }
  .backgroundText h1 {
    font-size: 20px;
    text-align: center;
    margin: 0.5rem 0;
  }
  .backgroundText button {
    margin: 10px auto 0;
    padding: 15px 25px;
    font-size: 14px;
  }
  .backgroundText h2 {
    font-size: 15px;
    margin-top: 0;
    line-height: 20px;
  }
  .backgroundText h3 {
    font-size: 16px;
  }
  .backgroundText__endText p {
    font-size: 14px;
  }
  .backgroundText__2 {
    display: none;
  }
  .backgroundText .backgroundText__endText {
    justify-content: center;
  }
  .last_block {
    width: 95%;
    margin: 6rem auto 3rem;
    padding: 20px 30px;
  }
  .last_block__title {
    flex-direction: column-reverse;
  }
  .last_block__title img {
    width: 100%;
    margin-top: -100px;
  }
  .last_block__title h1 {
    text-align: center;
    line-height: 25px;
    font-size: 20px;
  }
  .last_block__title p {
    font-size: 16px;
    line-height: 24px;
  }
  .last_block__inp {
    flex-direction: column;
    align-items: center;
  }
  .last_block__inp div {
    width: 90%;
  }
  .ant-space.css-dev-only-do-not-override-k83k30.ant-space-horizontal.ant-space-align-center {
    width: 90%;
  }
}
@media (min-width: 1001px) and (max-width: 1400px) {
  .container {
    padding: 0 4rem;
    margin: 0;
  }
  .backgroundText {
    padding: 12vh 4rem 0;
  }
  .links_list__wrapper .list {
    margin-left: 22px;
  }
  .links {
    width: 80%;
  }
  .backgroundText h1 {
    font-size: 20px;
  }
  .backgroundText__1 {
    width: 60%;
  }
  .backgroundText__2 {
    width: 30%;
  }
  .backgroundText h3 {
    font-size: 21px;
  }
}

@media (min-width: 630px) and (max-width: 1000.9px) {
  .last_block__title img {
    display: none;
  }
  .last_block {
    width: 90%;
    margin: 3rem auto 3rem;
    padding: 50px 30px;
  }
  .last_block__title p {
    font-size: 16px;
    line-height: 24px;
    width: 90%;
    margin: 1rem auto;
  }
  .backgroundText h3 {
    font-size: 20px;
  }
  .backgroundText h1 {
    font-size: 40px;
  }
  .backgroundText h2,
  .backgroundText h3 {
    color: #ffffff85;
  }
  .last_block__inp div {
    width: 47.5%;
  }
  .last_block__inp {
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: inherit;
  }
  .ant-space.css-dev-only-do-not-override-k83k30.ant-space-horizontal.ant-space-align-center{
    width: 97%;
  }
}

@media (min-width:1001px) and (max-width: 1130px) {
  .last_block__inp div {
    width: 33%;
    display: flex;
    align-items: center;
}
}