.body {
  background-image: url(../../assets/teach.webp);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
  margin: 1rem;
  padding: 3rem 8rem;
}

.body h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;

  text-align: center;

  color: var(--main-color-dark-gray);
}
.mapWrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media screen and (max-width: 600.9px) {
  .body {
    padding: 0;
    width: 80%;
    margin: 0 auto;
  }

  .body h1 {
    font-size: 30px;
    line-height: 40px;
  }

  .mapWrap {
    flex-direction: column;
  }
}

@media (min-width: 601px) and (max-width: 1000.9px) {
  .body {
    padding: 1rem 0;
    width: 80%;
    margin: 0 auto;
  }
}

@media (min-width: 1001px) and (max-width: 1400px) {
  .body {
    padding: 4rem;
  }
}
