.body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 8rem;
}
.body__main {
  width: 40%;
}
.body__main h1 {
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  color: var(--main-color-dark-gray);
  margin: 0;
}
.body__main p {
  font-weight: 300;
  font-size: 18px;
  line-height: 110%;
  color: var(--main-color-dark-gray);
  margin: 1rem 0;
}
.body__main h2 a,
.body__main h2 {
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: var(--main-color-dark-gray);
  margin: 0.5rem 0;
  text-decoration: none;
  padding-left: 0.5rem;
}
.dataMap__wrap {
  display: flex;
  margin-top: 2rem;
  align-items: flex-start;
  justify-content: space-between;
}
.dataMap {
  display: flex;
  flex-direction: column;
  -ms-flex-direction: column;
}
.yandex {
  width: 600px;
  height: 500px;
}

@media screen and (max-width: 1000.9px) {
  .body {
    flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    padding: 1rem 0 0;
    width: 100%;
    margin: 0 auto;
  }
  .body__main {
    width: 100%;
    margin-bottom: 1rem;
  }
  .body__main p {
    display: none;
  }
  .body__main h1 {
    font-size: 40px;
    line-height: 50px;
    text-align: center;
  }
  .yandex {
    width: 100%;
    height: 300px;
  }
  .dataMap__wrap {
    flex-direction: column;
    -ms-flex-direction: column;
    margin-top: 1rem;
  }
  .dataMap {
    width: 100%;
    text-align: center;
  }
  .dataMap__wrap img {
    display: none;
  }
}
@media (min-width: 1001px) and (max-width: 1400px) {
  .body {
    padding: 2rem 4rem;
  }
  .body p {
    display: none;
  }
  .body__main {
    width: 40%;
  }
  .yandex {
    width: 500px;
    height: 400px;
  }
  .body__main p {
    font-size: 14px;
  }
  .body__main h1 {
    font-size: 40px;
    line-height: 50px;
  }
  .dataMap__wrap {
    margin-top: 1rem;
  }
}

@media (min-width: 850px) and (max-width: 1000.9px) {
  .dataMap {
    -ms-flex-direction: row;
    flex-direction: row;
    width: 80%;
    margin: 0 auto;
    justify-content: space-around;
  }
}
