.body {
  padding: 2rem 0 0;
  flex-direction: column;
  -ms-flex-direction: column;
}
.body,
.body div {
  display: flex;
  justify-content: center;
}
.body a {
  text-decoration: none;
  font-weight: 300;
  font-size: 20px;
  line-height: 110%;
  color: var(--main-color-dark-gray);
  margin: 0 1rem 2rem;
}
.body h2 {
  font-weight: 300;
  font-size: 20px;
  line-height: 110%;
  text-decoration-line: underline;
  color: #d63838;
  cursor: pointer;
}
@media screen and (max-width: 700.9px) {
  .body h1 {
    display: none;
  }
  .body {
    padding: 1rem;
  }
}
